<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.messi.early.mapper.EarlyshopReservationGoodsMapper">
    <resultMap id="BaseResultMap" type="net.messi.early.pojo.EarlyshopReservationGoods">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="reservation_id" property="reservationId" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="SMALLINT"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
        <result column="is_real" property="isReal" jdbcType="BIT"/>
        <result column="goods_specifition_ids" property="goodsSpecifitionIds" jdbcType="VARCHAR"/>
        <result column="list_pic_url" property="listPicUrl" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="net.messi.early.pojo.EarlyshopReservationGoods" extends="BaseResultMap">
        <result column="goods_specifition_name_value" property="goodsSpecifitionNameValue" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <update id="updateIsRealToTrue">
          update earlyshop_reservation_goods set is_real = TRUE where reservation_id = #{reservationId} and goods_sn=#{goodsSn}
    </update>

    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, reservation_id, goods_id, goods_name, goods_sn, number, retail_price, is_real,
        goods_specifition_ids, list_pic_url
    </sql>
    <sql id="Blob_Column_List">
        goods_specifition_name_value
    </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
            parameterType="net.messi.early.pojo.EarlyshopReservationGoodsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from earlyshop_reservation_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="net.messi.early.pojo.EarlyshopReservationGoodsExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from earlyshop_reservation_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="net.messi.early.pojo.EarlyshopReservationGoodsExample">
        delete from earlyshop_reservation_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="net.messi.early.pojo.EarlyshopReservationGoods">
        insert into earlyshop_reservation_goods (id, reservation_id, goods_id,
        goods_name, goods_sn, number,
        retail_price, is_real, goods_specifition_ids,
        list_pic_url, goods_specifition_name_value
        )
        values (#{id,jdbcType=INTEGER}, #{reservationId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER},
        #{goodsName,jdbcType=VARCHAR}, #{goodsSn,jdbcType=VARCHAR}, #{number,jdbcType=SMALLINT},
        #{retailPrice,jdbcType=DECIMAL}, #{isReal,jdbcType=BIT}, #{goodsSpecifitionIds,jdbcType=VARCHAR},
        #{listPicUrl,jdbcType=VARCHAR}, #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="net.messi.early.pojo.EarlyshopReservationGoods">
        insert into earlyshop_reservation_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="reservationId != null">
                reservation_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="retailPrice != null">
                retail_price,
            </if>
            <if test="isReal != null">
                is_real,
            </if>
            <if test="goodsSpecifitionIds != null">
                goods_specifition_ids,
            </if>
            <if test="listPicUrl != null">
                list_pic_url,
            </if>
            <if test="goodsSpecifitionNameValue != null">
                goods_specifition_name_value,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="reservationId != null">
                #{reservationId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsSn != null">
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                #{number,jdbcType=SMALLINT},
            </if>
            <if test="retailPrice != null">
                #{retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="isReal != null">
                #{isReal,jdbcType=BIT},
            </if>
            <if test="goodsSpecifitionIds != null">
                #{goodsSpecifitionIds,jdbcType=VARCHAR},
            </if>
            <if test="listPicUrl != null">
                #{listPicUrl,jdbcType=VARCHAR},
            </if>
            <if test="goodsSpecifitionNameValue != null">
                #{goodsSpecifitionNameValue,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="net.messi.early.pojo.EarlyshopReservationGoodsExample"
            resultType="java.lang.Integer">
        select count(*) from earlyshop_reservation_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update earlyshop_reservation_goods
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.reservationId != null">
                reservation_id = #{record.reservationId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsName != null">
                goods_name = #{record.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsSn != null">
                goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="record.number != null">
                number = #{record.number,jdbcType=SMALLINT},
            </if>
            <if test="record.retailPrice != null">
                retail_price = #{record.retailPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.isReal != null">
                is_real = #{record.isReal,jdbcType=BIT},
            </if>
            <if test="record.goodsSpecifitionIds != null">
                goods_specifition_ids = #{record.goodsSpecifitionIds,jdbcType=VARCHAR},
            </if>
            <if test="record.listPicUrl != null">
                list_pic_url = #{record.listPicUrl,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsSpecifitionNameValue != null">
                goods_specifition_name_value = #{record.goodsSpecifitionNameValue,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update earlyshop_reservation_goods
        set id = #{record.id,jdbcType=INTEGER},
        reservation_id = #{record.reservationId,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
        number = #{record.number,jdbcType=SMALLINT},
        retail_price = #{record.retailPrice,jdbcType=DECIMAL},
        is_real = #{record.isReal,jdbcType=BIT},
        goods_specifition_ids = #{record.goodsSpecifitionIds,jdbcType=VARCHAR},
        list_pic_url = #{record.listPicUrl,jdbcType=VARCHAR},
        goods_specifition_name_value = #{record.goodsSpecifitionNameValue,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update earlyshop_reservation_goods
        set id = #{record.id,jdbcType=INTEGER},
        reservation_id = #{record.reservationId,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
        number = #{record.number,jdbcType=SMALLINT},
        retail_price = #{record.retailPrice,jdbcType=DECIMAL},
        is_real = #{record.isReal,jdbcType=BIT},
        goods_specifition_ids = #{record.goodsSpecifitionIds,jdbcType=VARCHAR},
        list_pic_url = #{record.listPicUrl,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
</mapper>