<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.messi.early.mapper.NideshopProductMapper">
    <resultMap id="BaseResultMap" type="net.messi.early.pojo.NideshopProduct">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="goods_id" property="goodsId" jdbcType="INTEGER"/>
        <result column="goods_specification_ids" property="goodsSpecificationIds" jdbcType="VARCHAR"/>
        <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR"/>
        <result column="goods_number" property="goodsNumber" jdbcType="INTEGER"/>
        <result column="retail_price" property="retailPrice" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, goods_id, goods_specification_ids, goods_sn, goods_number, retail_price
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.messi.early.pojo.NideshopProductExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from nideshop_product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from nideshop_product
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from nideshop_product
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="net.messi.early.pojo.NideshopProductExample">
        delete from nideshop_product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="net.messi.early.pojo.NideshopProduct">
        insert into nideshop_product (id, goods_id, goods_specification_ids,
        goods_sn, goods_number, retail_price
        )
        values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{goodsSpecificationIds,jdbcType=VARCHAR},
        #{goodsSn,jdbcType=VARCHAR}, #{goodsNumber,jdbcType=INTEGER}, #{retailPrice,jdbcType=DECIMAL}
        )
    </insert>
    <insert id="insertSelective" parameterType="net.messi.early.pojo.NideshopProduct">
        insert into nideshop_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsSpecificationIds != null">
                goods_specification_ids,
            </if>
            <if test="goodsSn != null">
                goods_sn,
            </if>
            <if test="goodsNumber != null">
                goods_number,
            </if>
            <if test="retailPrice != null">
                retail_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsSpecificationIds != null">
                #{goodsSpecificationIds,jdbcType=VARCHAR},
            </if>
            <if test="goodsSn != null">
                #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="goodsNumber != null">
                #{goodsNumber,jdbcType=INTEGER},
            </if>
            <if test="retailPrice != null">
                #{retailPrice,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="net.messi.early.pojo.NideshopProductExample"
            resultType="java.lang.Integer">
        select count(*) from nideshop_product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update nideshop_product
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.goodsId != null">
                goods_id = #{record.goodsId,jdbcType=INTEGER},
            </if>
            <if test="record.goodsSpecificationIds != null">
                goods_specification_ids = #{record.goodsSpecificationIds,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsSn != null">
                goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsNumber != null">
                goods_number = #{record.goodsNumber,jdbcType=INTEGER},
            </if>
            <if test="record.retailPrice != null">
                retail_price = #{record.retailPrice,jdbcType=DECIMAL},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update nideshop_product
        set id = #{record.id,jdbcType=INTEGER},
        goods_id = #{record.goodsId,jdbcType=INTEGER},
        goods_specification_ids = #{record.goodsSpecificationIds,jdbcType=VARCHAR},
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
        goods_number = #{record.goodsNumber,jdbcType=INTEGER},
        retail_price = #{record.retailPrice,jdbcType=DECIMAL}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="net.messi.early.pojo.NideshopProduct">
        update nideshop_product
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsSpecificationIds != null">
                goods_specification_ids = #{goodsSpecificationIds,jdbcType=VARCHAR},
            </if>
            <if test="goodsSn != null">
                goods_sn = #{goodsSn,jdbcType=VARCHAR},
            </if>
            <if test="goodsNumber != null">
                goods_number = #{goodsNumber,jdbcType=INTEGER},
            </if>
            <if test="retailPrice != null">
                retail_price = #{retailPrice,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="net.messi.early.pojo.NideshopProduct">
        update nideshop_product
        set goods_id = #{goodsId,jdbcType=INTEGER},
        goods_specification_ids = #{goodsSpecificationIds,jdbcType=VARCHAR},
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
        goods_number = #{goodsNumber,jdbcType=INTEGER},
        retail_price = #{retailPrice,jdbcType=DECIMAL}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>